.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #90A4AE;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #90A4AE;
}

html, body, .flow-constructor, .admin-page {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, Arial;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.flow-header {
    position: relative;
    min-height: 60px;
    background-color: #607D8B;
    display: flex;
    align-items: center;
}

.flow-header .flow-title {
    background-color: #546E7A;
    display: inline-block;
    width: 240px;
    height: 100%;
    padding: 0;
}

.flow-header-panel {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.flow-header .layout_graph_button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #fff;
    background-color: transparent;
    background-size: 60% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./../img/layout_graph.png);
    outline: none;
    cursor: pointer;
}

.flow-header .layout_graph_button:hover {
    background-color: #fff;
    background-image: url(./../img/layout_graph_hover.png);
}

.flow-header .flow-title > h1 {
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0 10px;
}

.flow-footer {
    position: relative;
    min-height: 25px;
    background-color: #607D8B;
    display: flex;
    align-items: center;
    border-top: 1px solid #78909C;
}

.button-logs {
    background-color: #607D8B;
    color: white;
    padding: 3px 10px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: 0;
    height: 24px;
}
.button-logs:hover {
    background-color: #455A64;
}
.button-logs.active {
    background-color: #455A64;
}
.terminal-wrapper {
    width: 100%;
    height: 0;
    position: relative;
}

.terminal-wrapper .logs {
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    color: #fff;
    border: 1px solid #78909C;
    border-right: 0;
    background-color: #546E7A;
    overflow: auto;
    padding: 10px;
}

.terminal-wrapper .logs .log-item {
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.terminal-wrapper .logs .log-item.warn {
    color: #FFCC80;
}
.terminal-wrapper .logs .log-item.error {
    color: #FFAB91;
}
.terminal-wrapper .logs .log-item.success {
    color: #AED581;
}
.flow-body {
    position: relative;
    height: 100%;
}

.noetl-container {
    position: relative;
    display: flex;
    height: calc(100% - 85px);
}

.noetl-left-menu {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    min-width: 240px;
    width: 240px;
    background-color: #607D8B;
}

.noetl-left-menu textarea {
    width: 100%;
    height: 150px;
    resize: none;
    color: #fff;
    border: 1px solid #78909C;
    background-color: #546E7A;
    outline: none;
    padding: 5px 10px;
}

.noetl-left-menu-controls {
    width: 100%;
    height: calc(100% - 150px);
}

.noetl-paper-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.actions-form-wrapper {
    width: 240px;
    min-width: 240px;
    height: 100%;
    background-color: #546E7A;
    overflow: auto;
}

.action-form-component {
    width: 100%;
    height: 100%;
}

.action-form-component .action-form-input {
    background-color: #546E7A;
    width: 100%;
    padding: 5px 15px;
}

.action-form-component .action-form-input input,
.action-form-component .action-form-input select,
.action-form-component .action-form-input textarea {
    color: #fff;
    border: 1px solid #78909C;
    background-color: #546E7A;
    outline: none;
    padding: 5px 10px;
    width: 100%;
}

.action-form-component .action-form-input textarea {
    min-height: 150px;
    resize: none;
}

.action-form-component .action-form-input {
    padding: 0 15px;
}

.action-form-component .action-form-input span {
    color: #fff;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 2px;
    display: inline-block;
    font-size: 14px;
}

.action-form-component .action-form-input textarea {

}

.group > .group-label {
    position: relative;
    padding: 0 5px 0 34px;
    background: #78909C;
    left: 0;
    width: 100%;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
}

.group > .group-label:before {
    position: absolute;
    left: 10px;
    top: 6px;
    display: block;
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: none;
    content: '\e080';
    line-height: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Glyphicons Halflings';
}

.group > .group-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.group > .group-content .actions {
    width: 105px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.group > .group-content .actions:hover{
    color: #607D8B;
    background-color: #fff;
}

/* home page */
.flows {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}

.flows .flow-item {
    width: 100%;
    height: 100px;
    background-color: white;
    color: #607D8B;
    margin: 10px;
    padding: 10px;
    margin-bottom: 0;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.flows .flow-item:hover {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}

.flows .flow-item .flow-item-title {
    font-size: 14px;
    margin-top: 0;
}


.flows .flow-item h3 {
    margin-bottom: 5px;
}

.flows .flow-item p {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.noetl-popup {
    background-color: #546E7A;
    width: 100%;
    max-width: 300px;
    min-height: 100px;
    margin: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.noetl-popup .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    font-size: 25px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: color 0.1s;
}
.noetl-popup .close:hover {
    color: #ffccd1;
}

.noetl-button {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    padding: 7px 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    outline: none;
}
.noetl-button:hover{
    background-color: rgba(255, 255, 255, 0.71);
}
.create-project-popup {
    padding-bottom: 15px;
}
.create-project-popup h3{
    text-align: center;
    color: white;
}

.create-project-popup .noetl-button{
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    margin-top: 15px;
    color: #546E7A;
}

.menu-group .menu-item {
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: block;
    text-decoration: none;
}

.menu-group .menu-item:hover {
    background-color: #4e6874;
}

.menu-group .menu-item.router-link-exact-active, .menu-group .menu-item.router-link-active {
    background-color: #4e6874;
}

.flows-page {
    display: flex;
}

.flows-page .tree-directories-component {
    min-width: 300px;
}