
.flows-page {
  display: flex;
  height: 100%;
  background-color: #191919;
  .flows-menu-component {
    width: 25%;
    min-width: 25%;
    border-right: 2px solid #2b2b2b;
    height: 100%;
    .block-control {
      color: #d6d6d6;
      background-color: #292929;
      padding-left: 10px;
      font-size: 12px;
      border-top: 1px solid #1E1E1E;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      i {
        margin-right: 10px;
        width: 15px;
      }
    }
    .block-control-wrapper {
      overflow: auto;
      height: calc(100% - 30px);
    }
  }

  .open-flows-component {
    height: 100%;
    .open-flow-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 10px;
      cursor: pointer;
      border-top: 0;
      color: #ce9178;
      &.active {
        background-color: #222222;
      }
      &:hover {
        background-color: #222222;
      }
      i {
        margin-right: 10px;
        font-size: 12px;
        color: #3dc9b0;
      }
    }
  }

  .flow {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: auto;
    height: 100%;
    width: 100%;
    border-top: 1px solid #1E1E1E;
  }
}
